In [20]:
# IMPORTS
import math

5

In [ ]:
x, y, z = 2, 3, 5

print(z)

In [21]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)  

# subtraction
print ('Subtraction: ', a - b)   

# multiplication
print ('Multiplication: ', a * b)  

# division
print ('Division: ', a / b) 

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

In [26]:
## Assignment Operators

# assign 10 to a
a = 10

# assign 5 to b
b = 5 

# assign the sum of a and b to a
a += b      # a = a + b

print(a)

# Output: 15

15

In [27]:
### Integers and Floats
x = int(4.7)   # x is now an integer 4
print(type(x))

y = float(4)   # y is now a float of 4.0
print(type(y))

math.isclose(0.1 + 0.1 + 0.1, 0.3)

<class 'int'>
<class 'float'>

True

In [24]:
#Because the float, or approximation, for 0.1 is actually slightly more than 0.1, when we add several of 
#them together we can see the difference between the mathematically correct 
# answer and the one that Python creates.
print(.1 + .1 + .1 == .3)

False

In [ ]:
## STRINGS

In [28]:
word = "Hello"
print(word * 5)

HelloHelloHelloHelloHello

In [30]:
this_string = 'Simon\'s skateboard is in the garage.'
print(this_string)

Simon's skateboard is in the garage.

In [31]:
single_quote_string = '"This is a quote itself"'  
double_quote_string = "Simon's skateboard is in the garage."
print(single_quote_string)  
print(double_quote_string)

"This is a quote itself"
Simon's skateboard is in the garage.

In [32]:
print(len("ababa") / len("ab"))

2.5

In [33]:
coconut_count = "34"
mango_count = "15"
tropical_fruit_count = coconut_count + mango_count
print(tropical_fruit_count)

3415

In [35]:
len("835")

3

In [37]:
print("0" + "5")

05

In [38]:
str_list = ['1', '2', '3', '4', '5']
int_list = [int(i) for i in str_list]

In [45]:
sample_string = "this is my name"
print(sample_string.index("is"))

2

In [47]:
print("Mohammed has {} balloons".format(27))

Mohammed has 27 balloons

In [48]:
animal = "dog" 
action = "bite" 
print("Does your {} {}?".format(animal, action))

Does your dog bite?

In [49]:
name = "John"
print(f"Hello, {name}")

Hello, John

In [50]:
a = 5
b = 3
print(f"The sum of {a} and {b} is {a+b}")

The sum of 5 and 3 is 8

In [51]:
print(13.37.islower())

AttributeError: 'float' object has no attribute 'islower'