In [3]:
x=4
y=7
z=0
if x<y:
    z+=10
print(z)

10

In [4]:
points = 174  # use this input to make your submission
prize = ""

# write your if statement here
if points  >=1 and points <=51:
    prize = "wooden rabbit"
elif points >= 51 and points <=150:
    prize = "no prize"
elif points >= 151 and points <=180:
    prize="wafer-thin mint"
else:
    prize="penguin"

result = "Congratulations! You won a {}!".format(prize)
print(result)

Congratulations! You won a wafer-thin mint!

In [1]:
#### Boolean Expressions for Conditions ####

temperature = 15
is_raining = True

if temperature <=15 and is_raining:
    print("The weather is cold and rainy!")
elif temperature <=15 and not is_raining:
    print("The weather is cold but it does not rain!")

The weather is cold and rainy!

In [9]:
#Truth Value Testing
print(True is True)
print([] is False)

True
False

In [15]:
#### Zip and Enumerate #####

In [16]:
# zip returns an iterator that combines multiple iterables into one sequence of tuples. Each tuple contans the elements in that position from all the iterables.
names = ['Anna', 'Paulina', 'Geroge', 'Brian', 'Mike']
ages = [20, 30, 35, 50, 60]
print(list(zip(names, ages)))

for group in zip(names,ages):
    print(group[0], "-", group[1])

[('Anna', 20), ('Paulina', 30), ('Geroge', 35), ('Brian', 50), ('Mike', 60)]
Anna - 20
Paulina - 30
Geroge - 35
Brian - 50
Mike - 60

In [14]:
items = ['car', 'book', 'dog']
for i, item in enumerate(items):
    print(i,item)

0 car
1 book
2 dog

In [3]:
#### List Comprehensions ####
cities = ["madrid", "warsaw"]
capitalized_cities = []
for city in cities:
    capitalized_cities.append(city.title())

### or can be written as
# The title() method is used to capitalize the first letter of each word in the city name, w
capitalized_cities = [city.title() for city in cities]

print(capitalized_cities)

['Madrid', 'Warsaw']

In [4]:
squares = [x**2 for x in range(9) if x % 2 == 0]
print(squares)

[0, 4, 16, 36, 64]